/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    color: #ff4200;;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #efefef;
    font-weight: 400;
    font-family: 'Molengo', sans-serif;
}



h1, h2, h3 {
    font-family: 'Jockey One', sans-serif;
}

h1, h2, h3 {
    letter-spacing: 0.15rem;
}

h1 {
    text-transform: uppercase;
    font-size: 2.6rem;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 1.3rem;
    margin: 0 0 0 0;
    line-height: 2rem;
}

h3 {
    font-size: 1.0rem;
    margin: 0 0 40px 0;
    line-height: 2rem;
}

p, a {
    line-height: 1.4rem;
    font-family: 'Molengo', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:link, a:visited {
    color: #ff4200;
}

footer {

    width: 100%;
}

footer a, footer a:hover, footer a:link, footer a:visited {
    color: #aaa;
}

#contact li,
footer li{
    display: inline-block;
}

#contact li.first:after,
footer li.first:after{
    content: '·';
    margin: 0 10px 0 10px;
}

.icon {
    font-size: 1.2rem;
}

section {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 0 auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: Trebuchet, sans-serif;
    border-top: 1px solid #ff4200;
}

#contact ul, footer ul {
    margin: 0;
    padding: 0;
}

#tree {
    margin: 20px 0 20px 0;
}

hr {
    margin-bottom: 18px;
}




